obj/Debug/net9.0/quiz_app.AssemblyInfo.cs
obj/Debug/net9.0/quiz_app.AssemblyInfoInputs.cache
obj/Debug/net9.0/quiz_app.csproj.FileListAbsolute.txt
obj/Debug/net9.0/quiz_app.dll
obj/Debug/net9.0/quiz_app.pdb
obj/Debug/net9.0/ref/quiz_app.dll
obj/Debug/net9.0/refint/quiz_app.dll
bin/Debug/net9.0/quiz_app.dll
bin/Debug/net9.0/quiz_app.pdb
obj/Debug/net9.0/refint/quiz_app.dll
